.contact {
    padding-top: 60px;

    .contact_description {
        border:1px solid black;
        padding:15px;
        line-height: 1.8;
        margin-bottom: 30px;

        ol{
            padding-left: 20px;
            margin: 0;
        }
    }
}