.news_info {
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    display:flex;

    .container {
        margin: auto;

        .image_box{
            display:flex;
            align-items: center;
        }

        .info_content {
            line-height: 1.8;
        }
    }
}